.all
  .side-bar
    %header
      %h3
        = current_user.name
      .header__icons
        = link_to new_group_path do
          =fa_icon 'pencil-square-o', class: 'icon'
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog' , class: 'icon'
    = render "shared/group"
  .chat
    .group-header
      .group-header__samary
        = @group.name
        .group-header__name
          %ul
            Member:
            - @group.users.each do |user|
              %li #{user.name}
      .group-header__edit
        = link_to "Edit" , edit_group_path(@group.id)
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
